* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Inter;
}

.title {
    text-align: center;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    margin-bottom: 10px;
}

li {
    list-style-type: none
}

.price__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.price__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    max-width: 500px;
}

.item__photo {
    max-width: 300px; 
    border-radius: 20px;
}

.cost {
    text-align: center;
}

.item__title {
    display: block; 
    text-align: center;
}


@media (max-width: 700px) {
    .item__title {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .item__photo {
        max-width: 200px;
    }
}

@media (max-width: 460px) {
    .item__photo {
        max-height: 150px;
    }
}

@media (max-width: 420px) {
    .item__title {
        font-size: 16px;
    }

    .item__title-last {
        font-size: 12px;
    }
    

    .cost {
        font-size: 18px;
    }
}